body {
    --text-color: #121212;
    --background-color: #eee;
}

body.dark-theme {
    --text-color: #eee;
    --background-color: #121212;
}
  
body {
    background: var(--background-color);
    color: var(--text-color)
}

.img-bg {
    background: #58719e;
    height: 300px;
    width: 300px;
}

.text-indent {
    text-indent: 10%;
}

.welcome-banner {
    background: var(--background-color);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.intro-text {
    animation-name: intro-animation;
    animation-duration: 4s;
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 5s;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 6s steps(40, end);
    
}

@keyframes intro-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes slide-in {
    0% { 
        opacity: 0;
        position: relative;
        top: -800px;
    }
    20% {
        opacity: 0; 
        position: relative;
        top: -800px;
    }
    35% {
        opacity: 50; 
        position: relative;
        top: 0;
    }
    100% { 
        opacity: 100;
        position: relative;
        top: 0; 
    }
}

@keyframes typing {
    0% { 
        width: 0;
        opacity: 0;
    }
    30% { 
        width: 0;
        opacity: 0;
    }
    31% { 
        width: 0;
        opacity: 100%;
    }
    100% { 
        width: 100% 
    }
}